body {
  // height: 786px;
  // width: 1366px;
  // padding: 5px 25px;
  background-image: url(../../images/bg-img.jpg);
  background-size: 1366px 786px;
  background-repeat: no-repeat;
}
* {
  font-family: "Nunito", sans-serif;
}
.search-bar {
  opacity: 0.8;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 390px;
  border-radius: 12px;
  background-color: black;
  box-shadow: 0 0 15px black;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  input {
    width: 230px;
    height: 25px;
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: inherit;
    color: white;
    &:focus {
      outline: none;
    }
  }
  button {
    padding: 7px 20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    &:active {
      transform: scale(0.9);
    }
  }
}
#statistics {
  line-height: 1.5;
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 130px;
  width: 500px;
  padding: 5px 25px;
  border-radius: 10px;
  box-shadow: 0 0 45px black;
  background-color: teal;
  color: white;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.35s;
  .first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    height: 50px;
    .city-name {
      font-size: 26px;
    }
    .temp-icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
  .second-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    .sky {
      text-transform: capitalize;
    }
  }
  &.opac {
    opacity: 0.9;
  }
}
#prayer {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  height: 35px;
  width: 750px;
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 0 45px black;
  background-color: teal;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.5px;
  line-height: 35px;
  transition: 0.35s;
  &.opac2 {
    opacity: 0.9;
  }
  .prayer-detail {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-align: center;
  }
}

@media only screen and (max-width: 576px) {
  body {
    background: url(../../images/bg-img.jpg);
    background-size: auto;
    background-repeat: no-repeat;
  }
  .search-bar {
    top: 30%;
    width: 340px;
    padding: 0 5px;
    input {
      width: 210px;
    }
    button {
      padding: 7px 15px;
    }
  }
  #statistics {
    top: 50%;
    width: 300px;
  }
  #prayer {
    top: 80%;
    width: 300px;
    height: 120px;
  }
}
